In [ ]:
# @title Inspect the schema of qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.orders
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

# Fetch the table
table = client.get_table('qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.orders')

# View table info
print("{} rows".format(table.num_rows))
for row in table.schema:
  print("Column {}: {}".format(row.name, row.field_type))

In [ ]:
# @title Inspect the schema of qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.order_item
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

# Fetch the table
table = client.get_table('qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.order_item')

# View table info
print("{} rows".format(table.num_rows))
for row in table.schema:
  print("Column {}: {}".format(row.name, row.field_type))

In [ ]:
# @title Inspect the schema of qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.menu
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

# Fetch the table
table = client.get_table('qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.menu')

# View table info
print("{} rows".format(table.num_rows))
for row in table.schema:
  print("Column {}: {}".format(row.name, row.field_type))

In [ ]:
# @title Setup bigquery client and formatting
from google.cloud import bigquery
from google.colab import data_table

project = 'qwiklabs-gcp-02-674b9890b502' # Project ID inserted based on the query results selected to explore
client = bigquery.Client(project=project)
data_table.enable_dataframe_formatter()

In [ ]:
# @title Executes the query

sql = '''# prompt: Join these data sources. Select all columns.

SELECT
  order_item.order_item_id,
  order_item.order_id,
  order_item.menu_id,
  order_item.quantity,
  order_item.item_price,
  order_item.item_total,
  orders.location_id,
  orders.customer_id,
  orders.order_datetime,
  orders.order_completion_datetime,
  menu.company_id,
  menu.item_name,
  menu.item_price,
  menu.item_description,
  menu.item_size
FROM
  `qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.order_item` AS order_item
INNER JOIN
  `qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.orders` AS orders
ON
  order_item.order_id = orders.order_id
INNER JOIN
  `qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.menu` AS menu
ON
  order_item.menu_id = menu.menu_id;'''
query = client.query(sql)
query
# @title Render the query results

job = client.get_job(query.job_id)
df = job.to_dataframe()
df

In [ ]:
# @title Executes the query

sql1 = '''# prompt: From the joined table, only consider orders from 2024. Calculate the total revenue for each menu item. In the results, display the menu_id, the item name, the item size, and the total revenue (rounded as only two decimal places). Order results with total revenue in descending order.

SELECT
t1.menu_id,
t1.item_name,
t1.item_size,
ROUND(SUM(t1.item_total), 2) AS total_revenue
FROM
`SQL` AS t1
WHERE
EXTRACT(YEAR
FROM
   t1.order_datetime) = 2024
GROUP BY
1,
2,
3
ORDER BY
total_revenue DESC;'''
query1 = client.query(sql1)
query1
# @title Render the query results

job1 = client.get_job(query1.job_id)
df1 = job1.to_dataframe()
df1

In [ ]:
# @title Executes the query

sql2 = '''# prompt: Find two items with the same total revenue. Within the results, display the item names, item size, and total revenue. Limit your response to only two items.

SELECT
  t1.item_name,
  t1.item_size,
  t1.total_revenue
FROM
  `SQL 1` AS t1
INNER JOIN
  `SQL 1` AS t2
ON
  t1.total_revenue = t2.total_revenue
WHERE
  t1.item_name <> t2.item_name
  AND t1.item_size <> t2.item_size
LIMIT
  2;'''
query2 = client.query(sql2)
query2
# @title Render the query results

job2 = client.get_job(query2.job_id)
df2 = job2.to_dataframe()
df2

In [ ]:
# @title Executes the query

sql3 = '''# prompt: Identify the top 10 items by total revenue and include the menu_id, item_name, item_size, and total_revenue fields.

SELECT
  menu_id,
  item_name,
  item_size,
  total_revenue
FROM
  `SQL 1` AS t1
ORDER BY
  total_revenue DESC
LIMIT
  10;'''
query3 = client.query(sql3)
query3
# @title Render the query results

job3 = client.get_job(query3.job_id)
df3 = job3.to_dataframe()
df3

In [ ]:
# @title Create a vertical bar chart displaying total revenue. Include the item name on the x-axis and the total revenue on the y-axis in the results. Start with the location with the highest revenue. Stack the results by item size.

import altair as alt

chart3 = alt.Chart(data=df3, mark={
  "type": "bar",
  "tooltip": True
}).encode(
  x={
  "field": "item_name",
  "type": "nominal",
  "title": "Item Name",
  "sort": {
    "field": "total_revenue",
    "op": "sum",
    "order": "descending"
  },
  "axis": {
    "labelOverlap": True
  }
},
  y={
  "field": "total_revenue",
  "type": "quantitative",
  "title": "Total Revenue",
  "axis": {
    "labelOverlap": True
  }
},
  color={
  "field": "item_size",
  "type": "nominal",
  "title": "Item Size"
},
  
)
chart3

In [ ]:
# @title This is a Insights Node
print('This is a child of a undefined')

In [ ]:
# @title Inspect the schema of qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.location
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

# Fetch the table
table = client.get_table('qwiklabs-gcp-02-674b9890b502.coffee_on_wheels.location')

# View table info
print("{} rows".format(table.num_rows))
for row in table.schema:
  print("Column {}: {}".format(row.name, row.field_type))